<% current_init_user = User.find(current_message.initUser) %>
<%= debugger%>
<% if is_current_user(current_init_user) %>
	<h4>ME:</h4> <%= current_message.text %>
<% else %>
	<h4><%= current_init_user.name %>:</h4> <%= current_message.text %>
<% end %>
<% if current_message.photo.url(:small) != "missing.pict" %>
	<%= image_tag(current_message.photo.url(:small)) %>
<% end %>