<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Edit Profile</h3>
</div>

<%= form_for @profile, :html => { :multipart => true, :id => 'frmEditProfile' } do |f| %>
<div class="modal-body">
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class='pull-left'>
	  <div class="field">
	    <%= f.label :quickPitch %>
	    <%= f.text_field :quickPitch %>
	  </div>
	  <div class="field">
	    <%= f.label :education %>
	    <%= f.text_field :education %>
	  </div>
	  <div class="field">
	    <%= f.label :location %>
	    <%= f.text_field :location %>
	  </div>
	  <div class="field">
	    <%= f.label :zipcode %>
	    <%= f.text_field :zipcode %>
	  </div>
          <div class="field">
	    <%= f.label :languages %>
	    <%= f.text_field :languages %>
	  </div>
          <div class="field">
	    <%= f.label :phone_number %>
	    <%= f.text_field :phone_number %>
	  </div>
  </div>
  <div class='span2 pull-left'>
	  
	  <div class="field" style='margin-bottom: 10px;'>
	    <%= f.label :about%>
	    <%= f.text_area :about, {:rows => '3', :style => 'width: 325px;'} %>
	  </div>
	  <div class="field">
	    <%= f.label :group %>
	    <%= f.text_field :group %>
	  </div>
	  <div class="field">
	    <%= f.label :sector %>
	    <%= f.text_field :sector %>
	  </div>
	  <div class="field">
	    <%= f.label :gender %>
	    <%= f.text_field :gender %>
	  </div>
	  <div class="field">
	    <%= f.label :birthdate %>
	    <%= f.text_field :birthdate %>
	  </div>
	  <div class="field">
	    <%= f.label :photo %>
	    <%= f.file_field :photo %>
	  </div>
  </div>
</div>
<% end %>

<div class="modal-footer">
    <%= form_tag("/sms/verify", :method => "POST", :class=>"pull-left") do %>
      <%= hidden_field_tag(:to, current_user.profile.phone_number.to_s()) %>
      <%= hidden_field_tag(:body, "To verify please text back to this number the word verify. -Kirpeep") %>
      <button type='submit' id='btnVerifyNumber' class="btn">Verify Phone Number</button>
    <% end %>
    <button class="btn pull right" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button class='btn btn-primary pull-right' onclick='$("#frmEditProfile").submit()'>Save</button>
</div>

