<!--div class="modal fade hide" id="InitiateExch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> -->
 <html>
 <head>   
    <script type="text/javascript">
        $(document).ready(function() {
            var listing = ":)"; 
            alert(listing);
            if($('#targlisting').hasClass("offer"))
            {
                /*$('#targlisting').insertTemplateAjax("assets/templates/show_exchange_offer.handlebars.erb", null);
                $('#initlisting').insertTemplateAjax("assets/templates/create_exchange_need.handlebars.erb", null;
            }
            else{
                $('#targlisting').insertTemplateAjax("assets/templates/show_exchange_need.handlebars.erb", null);
                $('#initlisting').insertTemplateAjax("assets/templates/create_exchange_offer.handlebars.erb", null);*/
                alert(listing);
            }
            else{
                alert(listing+"!!");
            }
            
        });
    </script>
</head>
    <%= form_for(@initexch, :url => create_exchange_path) do |f| %>
        <%= f.hidden_field :initUser, :value => current_user.id  %>
        <%= f.hidden_field :targUser, :value => @targ_listing.user.id  %>
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Initiate Exchange</h3>
        </div>
        <div class="modal-body">
        
            <!--user viewing -->
            <div class='row-fluid'>
                <div class='span4' id="userInfo">
                    <br>
                    <%= image_tag(current_user.profile.photo.url, {:width => '100px', :height => '100px'}) %><br>
                    <%= current_user.name %>
                </div>

                <!--Kirpeep Exchage Status Logo -->
                <div class='span4 align-center' id="exchangeStatus">
                    <p><%= image_tag('InitExchIco.png', {:width => '100px', :height => '100px'} ) %></p>
                </div>

                <!--exchange partner -->
                <div class='span4 align-right' id="exchangePartner" >
                    <span id="with">exchanging with</span><br>
                    <%= image_tag(@targ_listing.user.profile.photo.url, {:width => '100px', :height => '100px'}) %><br>
                    <%= @targ_listing.user.name %>
                </div>
            </div><!--closes top section-->

            <!--opens middle section-->
            <div class='row-fluid'>


            <!--left side-->
                <div class='span6'>
                    <div><span id="getting">You are getting...</span></div>

                    <!--offers -->
                    <div class="tabbable tabs-left">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#offer" data-toggle="tab">Listing 1</a></li>
                            <li id="new_link"><%= link_to "+", "exchanges/new", :remote => true %></li>
                        </ul>
                        <div class="tab-content" id="userExchItems">
                            <div class="tab-pane active" id="offer">
                                <!-- Offer Listing -->
                                <% if @targ_listing.type == "offer" %>
                                <div class="offer" id="targlisting"></div>
                                <%else%>
                                <div class='create_offer' class="offer" id="initlisting"></div>
                                <%end%>
                                <!-- End of Offer Listing --> 
                            </div>
                        </div>
                    </div>
                    
                </div>
                


                <!--Right Side-->
                <div class='span6'>
                    <div><span id="giving">You are giving this...</span></div>

                    <!-- Needs-->
                    <div class="tabbable tabs-right">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#need" data-toggle="tab">Listing 1</a></li>
                            <li>+</li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="needs">
                                <!-- Need Listing -->
                                <% if @targ_listing.type == "need" %>
                                <div class="need" id="targlisting"></div>
                                <%else%>
                                <div class='need' id="initlisting"></div>
                                <%end%>
                                <!--End of Need Listing-->
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!--Opens Bottom Section-->
                <div class='row-fluid'>
                    <%= fields_for Message.new do |message| %>
                    <span>Message</span>
                    <%= message.text_area :text, :class => 'rounded-map', :rows => '10', :style => "width:95%" %>
                    <%= message.hidden_field :targUser, :value => @targ_listing.user.id %>
                    <%= message.hidden_field :initUser, :value => current_user.id %>
                    <%= f.hidden_field(:responseToMsgID, :value => 'exchange' ) %>
                    <%end%>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
            <%= f.submit 'Initiate Exchange', :class => "btn btn-primary" %> 
        </div>
    <% end %>


    <!-- This is a hack so that we can get multiitem exchanges functioning
        
        <div id="SelectNeedTmp" style="display:none">
            <div class="tab-pane active" id="need1">
                <span id="selNeed">Select a need or <%# link_to "create", new_offer_path, :class => "CreateOffer" %> a new one.</span>
                <div>
                    <%# needs_array = @user.needs.all.map { |need| [need.title, need.id] } %> 
                    <%#= select_tag :init_list_id, options_for_select(needs_array) %>
                    <%#= hidden_field_tag :initUser, :value => current_user.id  %>
                </div>
            </div>
        </div>
        <div id="OfferNeedTmp" style="display:none">
            <div class="tab-pane active" id="offer1">
                <span id="selectOffer">Select an offer or (link to create)create a new one.</span>
                <div>
                    <%# offers_array = @user.offers.all.map { |offer| [offer.title, offer.id] } %> 
                    <%# select_tag :init_list_id, options_for_select(offers_array) %>
                    <%# hidden_field_tag (:initUser, :value => current_user.id ) %>
                </div>
            </div>
        </div>
    End o' shitty hack 'o matic script' -->

<!--/div--> 
</html>