<!--div class="modal fade hide" id="InitiateExch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> -->
 <html>
 <head>
    <script type="text/javascript">
        var context;
        $(document).ready(function() {

            userContext = <%= @user.to_json.html_safe %>;
            targContext = <%= @targListing.user.to_json.html_safe %>;
            listing = <%= @targListing.to_json.html_safe %>;

            $('#targlisting').insertERBTemplateAjax();
            $('#initlisting').insertERBTemplateAjax();

            

            /*form_id = $('new_exchange_item_0').attr('id');
            $('new_exchange_item_0').attr('id', form_id.);*/
            $(".tab-content").live("hover", function(){

            });

            $(".close").live("click", function(){
                var e = $(this);
                var tab = e.closest(".active").attr("id");
                $("#"+tab).remove();
                $("a[href='#"+tab+"']").remove();
            });

            $(".selectListing").live("change", function(){
                var listing = $(this).val();
                var listingContainer = $(this).closest(".shadow");

                if(console) console.log(listingContainer.attr('class'));

                $.get("/get_listing?id="+listing+"&targ="+targContext["id"], function(data) {
                    var date = new Date();
                    var listingID = date.getTime();   
                    var o = $(data);
                    o.find('#initiate_exchange_exchange_items_0_user_listing_id').attr("value", userContext.id);
                    
                    //manually assign child_index to fields_for
                    o.find('#initiate_exchange_exchange_items_0_user_listing_id').attr('name',
                        'initiate_exchange[exchange_items]['+listingID+'][user_listing_id]');
                    o.find('#initiate_exchange_exchange_items_0_user_listing_id').attr('id',
                        'initiate_exchange_exchange_items_'+listingID+'_user_listing_id');
                    
                    //manually assign targ_user_id
                    o.find('#initiate_exchange_exchange_items_0_targ_user_id').attr("value", targContext.id);
                    //manually assign child_index to fields_for
                    o.find('#initiate_exchange_exchange_items_0_targ_user_id').attr('name',
                        'initiate_exchange[exchange_items]['+listingID+'][targ_user_id]');
                    o.find('#initiate_exchange_exchange_items_0_targ_user_id').attr('id',
                        'initiate_exchange_exchange_items_'+listingID+'_targ_user_id');
                    
                    
                    listingContainer.html(o.html());
                    o.fadeIn();
                });
            });

            $('form #user_new_link').click(function(e) {
                e.preventDefault();
                var date = new Date();
                var listingID = 'listing'+date.getTime();                
                $('#userItems .active').removeClass('active');
                $('#userExchItems .active').removeClass('active');
                $('#user_new_link').before("<li class='active'><a href='#"+listingID+"' data-toggle='tab'>NEW</li>");

                $('#userExchItems').append('<div class="tab-pane active" id="'+listingID+'"><div data-url="/add_need?init=<%= current_user.id %>&targ=<%= @targListing.user.id %>" id="newUserCreate"></div></div>');
                $('#newUserCreate').insertERBTemplateAjax("over");

            });

            $('form #targ_new_link').click(function(e) {
                e.preventDefault();
                var date = new Date();
                var listingID = 'listing'+date.getTime();
                $('#targItems .active').removeClass('active');
                $('#targExchItems .active').removeClass('active');
                $('#targ_new_link').before("<li class='active'><a href='#"+listingID+"' data-toggle='tab'>NEW</li>");
                $('#targExchItems').append('<div class="tab-pane active" id="'+listingID+'"><div data-url="/add_offer?init=<%= current_user.id %>&targ=<%= @targListing.user.id %>" id="newTargCreate"></div></div>');
                $('#newTargCreate').insertERBTemplateAjax("over");

            });

              $('form a.remove_child').live('click', function() {
                var hidden_field = $(this).prev('input[type=hidden]')[0];
                if(hidden_field) {
                  hidden_field.value = '1';
                }
                $(this).parents('.fields').hide();
                return false;
            });

        });    
    </script>
</head>

<%= render :partial => "initiate_exchange_form", :locals => {:exch => @exch, :targUser => @targUser, :initUser => @initUser, :targItems => @targItems, :initItems => @initItems} %> 

</html>