<%= form_for(@initexch, :url => create_exchange_path) do |f| %>
<!-- fields_for templates -->
    
    <%= f.hidden_field :targUser, :value => @targListing.user.id %>
    <%= f.hidden_field :initUser, :value => current_user.id %>
    <%# User Exchange Items %>
    <div id="needTemplate" class="rounded-need shadow hide">
        <a type="button" class="close" aria-hidden="true">×</a>
        <div class='listingImg'>
            <%= image_tag @targListing.photo.url %>
        </div>
        <div class='listingInfo'>
            <div>
                <span class="listingTitle"><%= @targListing.title %></span> <br>
                <span class="listingDesc"><%= @targListing.description %></span>
                <%= f.fields_for :exchange_item, ExchangeItem.new, :child_index => 'replace_this' do |fa| %>
                    <%=fa.hidden_field :user_listing_id, :value => -1 %>
                    <%=fa.hidden_field :targ_user_id, :value => -1 %>
                <% end %>
            </div>
        </div> 
    </div>
    
    <%# Target Exchange Items %>
    <div id="offerTemplate"class="rounded-offer shadow hide">
        <a type="button" class="close" aria-hidden="true">×</a>
        <div style="">
            <%= image_tag @targListing.photo.url %>
        </div>
        <div style="">
            <span>
                <%= @targListing.title %> <br>
                <%= @targListing.description %>
                <%= f.fields_for :exchange_item, ExchangeItem.new, :child_index => 'replace_this' do |fa| %>
                    <%=fa.hidden_field :user_listing_id, :value => -1 %>
                    <%=fa.hidden_field :targ_user_id, :value => -1 %>
                <% end %>
            </span>
        </div> 
    </div>

    <!-- end of fields for/begining of Modal-->
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Initiate Exchange</h3>
    </div>
    <div class="modal-body">
    
        <!--user viewing -->
        <div class='row-fluid'>
            <div class='span4' id="userInfo">
                <br>
                <%= image_tag(current_user.profile.photo.url, {:width => '100px', :height => '100px'}) %><br>
                <%= current_user.name %>
            </div>

            <!--Kirpeep Exchage Status Logo -->
            <div class='span4 align-center' id="exchangeStatus">
                <p><%= image_tag('InitExchIco.png', {:width => '100px', :height => '100px'} ) %></p>
            </div>

            <!--exchange partner -->
            <div class='span4 align-right' id="exchangePartner" >
                <span id="with">exchanging with</span><br>
                <%= image_tag(@targUser.profile.photo.url, {:width => '100px', :height => '100px'}) %><br>
                <%= @targUser.name %>
            </div>
        </div><!--closes top section-->

        <!--opens middle section-->
        <div class='row-fluid'>


        <!--left side-->
            <div class='span6'>
                <div><span id="getting">You are getting...</span></div>

                <!--User needs / Targ Offers -->
                <div class="tabbable tabs-left">
                    <ul class="nav nav-tabs" id="userItems">
                        <li class="active"><a href="#offer" data-toggle="tab">Listing 1</a></li>
                        <li id="user_new_link"><%= link_to '+', '#'%></li>
                    </ul>
                    <div class="tab-content" id="userExchItems">
                        <div class="tab-pane active" id="offer">
                            <!--  Listing -->
                            <% if @targListing.listingType == "need" %>
                            <div class="rounded-need shadow">
                                <a type="button" class="close" aria-hidden="true">×</a>
                                <div style="">
                                    <%= image_tag @targListing.photo.url %>
                                </div>
                                <div style="">
                                    <span>
                                        <%= @targListing.title %> <br>
                                        <%= @targListing.description %>
                                        <%= f.fields_for :exchange_item do |fa| %>
                                            <%=fa.hidden_field :user_listing_id, :value => @targListing.id %>
                                            <%=fa.hidden_field :targ_user_id, :value => @targUser.id %>
                                        <% end %>
                                    </span>
                                </div> 
                            </div>
                            <% else %>
                            <div data-url="/add_need?init=<%= current_user.id %>&targ=<%= @targListing.user.id %>" id="targlisting"></div>
                            <%end%>
                            <!-- End of Offer Listing --> 
                        </div>
                    </div>
                </div>
                
            </div>
            


            <!--Right Side-->
            <div class='span6'>
                <div><span id="giving">You are giving this...</span></div>

                <!-- Needs-->
                <div class="tabbable tabs-right">
                    <ul class="nav nav-tabs" id="targItems">
                        <li class="active"><a href="#needs" data-toggle="tab">Listing 1</a></li>
                        <li id="targ_new_link">
                            <%= link_to '+', '#' %>
                        </li>
                    </ul>
                    <div class="tab-content" id="targExchItems">
                        <div class="tab-pane active" id="needs">
                            <!-- Need Listing -->
                            <% if @targListing.listingType == "need" %>
                            <div data-url="/add_offer?init=<%= current_user.id %>&targ=<%= @targListing.user.id %>" id="initlisting"></div>
                            <%else%>
                            <div class="rounded-offer shadow">
                                <a type="button" class="close" aria-hidden="true">×</a>
                                <div style="">
                                    <%= image_tag @targListing.photo.url %>
                                </div>
                                <div style="">
                                    <span>
                                        <%= @targListing.title %> <br>
                                        <%= @targListing.description %>
                                        <%= f.fields_for :exchange_item do |fa| %>
                                            <%=fa.hidden_field :user_listing_id, :value => @targListing.id %>
                                            <%=fa.hidden_field :targ_user_id, :value => @targUser.id %>
                                        <% end %>
                                    </span>
                                </div> 
                            </div>
                            <%end%>
                            <!--End of Need Listing-->
                        </div>
                    </div>
                </div>
                
            </div>

            <!--Opens Bottom Section-->
            <div class='row-fluid'>
                <%= fields_for Message.new do |message| %>
                <span>Message</span>
                <%= message.text_area :text, :class => 'rounded-map', :rows => '4', :style => "width:95%" %>
                <%= message.hidden_field :targUser, :value => @targListing.user.id %>
                <%= message.hidden_field :initUser, :value => current_user.id %>
                <%= f.hidden_field(:responseToMsgID, :value => 'exchange' ) %>
                <%end%>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <%= f.submit 'Initiate Exchange', :class => "btn btn-primary" %> 
    </div>
<% end %>