<!--div class="modal fade hide" id="InitiateExch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> -->
 <html>
 <head>   
    <script type="text/javascript">
    var context;
        $(document).ready(function() {
            userContext = <%= @user.to_json.html_safe %>;
            targContext = <%= @targListing.user.to_json.html_safe %>;
            listing = <%= @targListing.to_json.html_safe %>;
            if(console){ 
                console.log("User: ");
                console.log(userContext);
                console.log("Targ: ");
                console.log(targContext);
            }

            $('#targlisting').insertERBTemplateAjax();
            $('#initlisting').insertERBTemplateAjax();
            
            $(".tab-content").live("hover", function(){

            });

            $(".close").live("click", function(){
                var e = $(this);
                var tab = e.closest(".active").attr("id");
                $("#"+tab).remove();
                $("a[href='#"+tab+"']").remove();
            });

            $(".selectListing").live("change", function(){
                var listing = $(this).val();
                var listingContainer = $(this).closest(".shadow")
                if(listingContainer.attr("class").indexOf("offer") != -1){
                    $.ajax({
                        url: "/users/"+targContext['id']+"/need/"+listing,
                        cache: true,
                        success: function(data) {
                            listingContainer.insertTemplateAjax("assets/templates/show_exchange_offer.handlebars.erb", data, "replace");
                        }
                    });
                    
                }
                else{
                    $.ajax({
                        url: "/users/"+userContext['id']+"/offer/"+listing,
                        cache: true,
                        success: function(data) {
                            listingContainer.insertTemplateAjax("assets/templates/show_exchange_need.handlebars.erb", data, "replace");
                        }
                    });
                }
                /*$.ajax({
                    url: "/users/",
                    cache: true,
                    success: function(data) {
                        source    = data;
                        template  = Handlebars.compile(source);
                    }
                          
                    }               
                });*/ 
                if(console){
                    console.log("listing class");
                    console.log(listingContainer.attr("class"));
                }
                $(this).replaceWith("<div>:)</div>");
            });
        });
    </script>
</head>

    <%= form_for(@initexch, :url => create_exchange_path) do |f| %>
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Initiate Exchange</h3>
        </div>
        <div class="modal-body">
        
            <!--user viewing -->
            <div class='row-fluid'>
                <div class='span4' id="userInfo">
                    <br>
                    <%= image_tag(current_user.profile.photo.url, {:width => '100px', :height => '100px'}) %><br>
                    <%= current_user.name %>
                </div>

                <!--Kirpeep Exchage Status Logo -->
                <div class='span4 align-center' id="exchangeStatus">
                    <p><%= image_tag('InitExchIco.png', {:width => '100px', :height => '100px'} ) %></p>
                </div>

                <!--exchange partner -->
                <div class='span4 align-right' id="exchangePartner" >
                    <span id="with">exchanging with</span><br>
                    <%= image_tag(@targUser.profile.photo.url, {:width => '100px', :height => '100px'}) %><br>
                    <%= @targUser.name %>
                </div>
            </div><!--closes top section-->

            <!--opens middle section-->
            <div class='row-fluid'>


            <!--left side-->
                <div class='span6'>
                    <div><span id="getting">You are getting...</span></div>

                    <!--offers -->
                    <div class="tabbable tabs-left">
                        <ul class="nav nav-tabs" id="userItems">
                            <li class="active"><a href="#offer" data-toggle="tab">Listing 1</a></li>
                            <li id="new_link"><%= link_to "+", "exchanges/new?type=init", :remote => true %></li>
                        </ul>
                        <div class="tab-content" id="userExchItems">
                            <div class="tab-pane active" id="offer">
                                <!-- Offer Listing -->
                                <% if @targListing.listingType == "offer" %>
                                <div data-url="/exchange_listing?id=<%= @targListing.id %>&targ=<%= current_user.id %>&f=<%= f %>" id="targlisting"></div>
                                <% else %>
                                <div data-url="/add_offer?init=<%= current_user.id %>&targ=<%= @targListing.user.id %>" id="targlisting"></div>
                                <%end%>
                                <!-- End of Offer Listing --> 
                            </div>
                        </div>
                    </div>
                    
                </div>
                


                <!--Right Side-->
                <div class='span6'>
                    <div><span id="giving">You are giving this...</span></div>

                    <!-- Needs-->
                    <div class="tabbable tabs-right">
                        <ul class="nav nav-tabs" id="targItems">
                            <li class="active"><a href="#needs" data-toggle="tab">Listing 1</a></li>
                            <li id="targ_new_link"><%= link_to "+", "exchanges/new?type=targ", :remote => true %></li>
                        </ul>
                        <div class="tab-content" id="targExchItems">
                            <div class="tab-pane active" id="needs">
                                <!-- Need Listing -->
                                <% if @targListing.listingType == "offer" %>
                                <div data-url="/add_offer?init=<%= current_user.id %>&targ=<%= @targListing.user.id %>" id="initlisting"></div>
                                <%else%>
                                <div data-url="/exchange_listing?id=<%= @targListing.id %>&targ=<%= @targListing.user.id %>" id="initlisting"></div>
                                <%end%>
                                <!--End of Need Listing-->
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!--Opens Bottom Section-->
                <div class='row-fluid'>
                    <%= fields_for Message.new do |message| %>
                    <span>Message</span>
                    <%= message.text_area :text, :class => 'rounded-map', :rows => '4', :style => "width:95%" %>
                    <%= message.hidden_field :targUser, :value => @targListing.user.id %>
                    <%= message.hidden_field :initUser, :value => current_user.id %>
                    <%= f.hidden_field(:responseToMsgID, :value => 'exchange' ) %>
                    <%end%>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
            <%= f.submit 'Initiate Exchange', :class => "btn btn-primary" %> 
        </div>
    <% end %>

<!--/div--> 
</html>