<html>
<head>
    <%= stylesheet_link_tag    "results.css" %>
    <script type="text/javascript">
    $(document).ready(function() {
        $(".itemTemplate").each(function(){
            $(this).insertERBTemplateAjax();
        });
    });
    </script>
</head>
<body>
    <div class="container">
        <%= render 'shared/header' %>
        <div class="row">
            <div class="span6">
                <h3 id="myModalLabel">Perform Exchange</h3>
                <div class='align-center' id="exchangeStatus">
                    <div class="progress progress-striped">
                        <div class="bar" style="width: 50%;"></div>
                    </div>
                </div>
            </div>
        </div>

        <%= render 'exchange_header' %>        
        <%= render 'exchange_items' %> 
        <!-- Exchange Message-->
        <div class="row-fluid">
            <span>Message</span>
            <div class="rounded-map shadow" id="message" style="overflow:scroll; height: 100px;">
                <% current_message = @exch.message%>
                <% reply_message_id = current_message.id %>
                <% begin %>
                    <%= render :partial =>current_message, :locals => {:current_message => current_message} %>
                    <% reply_message_id = current_message.id %>
                    <% current_message = Message.where(:responseToMsgID => current_message.id).first %>
                <% end while(current_message != nil) %>
                <div>
                    <%= form_for Message.new, :remote => true, :html => {:class => "reply_message"} do |f| %>
         
                        <%= f.hidden_field :initUser, :value => current_user.id %>
                        <%= f.hidden_field :responseToMsgID, :value =>  reply_message_id %>
                        <% if is_current_user(@initUser) %>
                            <%= f.hidden_field :targUser, :value => @targUser.id %>
                        <% else %>
                            <%= f.hidden_field :targUser, :value => @initUser.id %>
                        <% end %>
                        <%= f.text_field :text %>
                        
                        <%= f.submit :reply, :class => "btn btn-primary" %>
                    <% end %>
                </div>
            </div>
        </div><!-- .row-fluid-->
    </div>

    <!-- Exchange Message-->
    <div class="row" id="messagebox">
        <div class='span6 offset3'>    
            <span>Message</span>
            <div class="rounded-map shadow" id="message" style="overflow:scroll; height: 100px;">
                <% current_message = @exch.message%>
                <% reply_message_id = current_message.id %>
                <% begin %>
                    <%= render :partial =>current_message, :locals => {:current_message => current_message} %>
                    <% reply_message_id = current_message.id %>
                    <% current_message = Message.where(:responseToMsgID => current_message.id).first %>
                <% end while(current_message != nil) %>
                <div>
                    <%= form_for Message.new, :remote => true, :html => {:class => "reply_message"} do |f| %>
         
                        <%= f.hidden_field :initUser, :value => current_user.id %>
                        <%= f.hidden_field :responseToMsgID, :value =>  reply_message_id %>
                        <% if is_current_user(@initUser) %>
                            <%= f.hidden_field :targUser, :value => @targUser.id %>
                        <% else %>
                            <%= f.hidden_field :targUser, :value => @initUser.id %>
                        <% end %>
                        <%= f.text_field :text %>
                        
                        <%= f.submit :reply, :class => "btn btn-primary" %>
                    <% end %>
                </div>
            </div>
        </div><!-- .row-fluid-->
    <!--Opens Bottom Section-->
    <div class="row">
        <div class="span6 offset3">
            <% if((@exch.initUser).to_s == (current_user.id).to_s ) %>
                <% if @exch.initComp %>
                    Waiting for user
                <%else%>
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                    <%= button_to "Accept", accept_perform_path(:exch_id => @exch.id, :user_id => @exch.initUser), :class => "btn btn-primary" %>
                <%end%>
            <%else%>
                <% if @exch.targComp %>
                    Waiting for user
                <%else%>
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                    <%= button_to "Accept", accept_perform_path(:exch_id => @exch.id, :user_id => @exch.targUser), :class => "btn btn-primary" %>
                <%end%>
            <%end%>
        </div>
    </div>
</body>
</html>