<html>
<head>
    <script type="text/javascript">
    $(document).ready(function() {
        $(".itemTemplate").each(function(){
            $(this).insertERBTemplateAjax();
        });
    });
    </script>
</head>
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Rate Exchange</h3>
        </div>
        <%= form_tag @exch, :url => url_for(:controller => 'exchanges', :action => 'rate_exchange') do %>
        <div class="modal-body">
        
            <div class='row-fluid'>
                <!--user viewing -->
                <div class='span4' id="userInfo">
                    <br>
                    <%= image_tag(current_user.profile.photo.url, {:width => '100px', :height => '100px'}) %><br>
                    <%= current_user.name %>
                </div><!-- .span4 -->
            
                <!--Kirpeep Exchage Status Logo -->
                <div class='span4 align-center' id="exchangeStatus">
                    <p><%= image_tag('RRExchIco.png', {:width => '100px', :height => '100px'} ) %></p>
                </div><!-- .span4 -->
                
                <!--exchange partner -->
                <div class='span4 align-right' id="exchangePartner">
                    <span id="with">exchanging with</span>
                    <% if (current_user.id).to_s == (@initUser.id).to_s %>
                        <%= image_tag(@targUser.profile.photo.url, {:width => '100px', :height => '100px'}) %>
                        <br>
                        <%= @targUser.name %>
                    <%else%>
                        <%= image_tag(@initUser.profile.photo.url, {:width => '100px', :height => '100px'}) %>
                        <br>
                        <%= @initUser.name %>
                    <%end%>
                </div>
            </div><!-- .row-fluid -->
        
            <!--opens middle section-->
            <div class='row-fluid'>
            <!-- Left Side-->
                <div class="span6">
                    <div>
                        <span id="getting">You are getting...</span>
                    </div>


                    <!-- Start of tabs for items user is receiving--> 
                    <% for item in @initItems %>
                        <div class="itemTemplate" data-url="/exchange_listing?id=<%= item.user_listing_id %>&targ=<%= @targUser.id %>"></div>
                    <%end%>
                    <!-- End of tabs for items user is receiving--> 
                </div><!-- .span6-->


                <!--Right Side-->
                <div class="span6">
                    <div>
                        <span id="getting">You are giving...</span>
                    </div>

                    <!-- Start of tabs for items targ is receiving--> 
                    <% for item in @targItems %>
                        <div class="itemTemplate" data-url="/exchange_listing?id=<%= item.user_listing_id %>&targ=<%= @initUser.id %>"></div>
                    <%end%>
                    <!-- End of tabs for items targ is receiving--> 

                </div>
            </div>            
            <!-- Exchange Message-->
            <div class="row-fluid">
                <span>Message</span>
                <div class="rounded-map shadow" id="message" style="overflow:scroll; height: 100px;">
                    <% current_message = @exch.message%>
                    <% reply_message_id = current_message.id %>
                    <% begin %>
                        <%= render :partial =>current_message, :locals => {:current_message => current_message} %>
                        <% reply_message_id = current_message.id %>
                        <% current_message = Message.where(:responseToMsgID => current_message.id).first %>
                    <% end while(current_message != nil) %>
                    <div>
                        <%= form_for Message.new, :remote => true, :html => {:class => "reply_message"} do |f| %>
             
                            <%= f.hidden_field :initUser, :value => current_user.id %>
                            <%= f.hidden_field :responseToMsgID, :value =>  reply_message_id %>
                            <% if is_current_user(@initUser) %>
                                <%= f.hidden_field :targUser, :value => @targUser.id %>
                            <% else %>
                                <%= f.hidden_field :targUser, :value => @initUser.id %>
                            <% end %>
                            <%= f.text_field :text %>
                            
                            <%= f.submit :reply, :class => "btn btn-primary" %>
                        <% end %>
                    </div>
                </div>
            </div><!-- .row-fluid-->
            
            <div class='row-fluid'>
                
                Time: <%= range_field_tag :time, {:min => 0, :max => 5, :step => 1} %><br>
                Cost: <%= range_field_tag :cost, {:min => 0, :max => 5, :step => 1} %><br>
                Ease: <%= range_field_tag :ease, {:min => 0, :max => 5, :step => 1} %><br>
                Overall: <%= range_field_tag :overall, {:min => 0, :max => 5, :step => 1} %><br>
                Comments:<br><%= text_area_tag :comments %><br>

                <%= hidden_field_tag :exch_id, @exch.id %>
                <%= hidden_field_tag :user_id, (current_user.id).to_s%>
            </div><!-- .row-fluid -->
        </div>
        <!--Opens Bottom Section-->
        <div class="modal-footer">
            <% if((@exch.initUser).to_s == (current_user.id).to_s ) %>
                <% if @exch.init_rating_overall != nil %>
                    Waiting for user
                <%else%>
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                    <%= submit_tag 'Rate', :class => "btn btn-primary" %>
                <%end%>
            <%else%>
                <% if @exch.targ_rating_overall != nil %>
                    Waiting for user
                <%else%>
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                    <%= submit_tag 'Rate', :class => "btn btn-primary" %>
                <%end%>
            <%end%>
        </div>
        <% end %>
</html>