Number of users: <%= @userCount%><br/>
Number of exchanges: <%= @exchCount %><br/>
Amount of kirpoints bought: <%= @kirpointAmount %><br><br>

<% if flash[:notice] != nil %>
  <div class="alert" style="width: 40%;margin-left:auto;margin-right:auto;">
     <button type="button" class="close" data-dismiss="alert">×</button>
     <div id="flash_notice">
       <%= flash[:notice] %>
     </div>
  </div>
  <% elsif flash[:error] != nil %>
  <div class="alert alert-error" style="width: 40%;margin-left:auto;margin-right:auto;">
     <button type="button" class="close" data-dismiss="alert">×</button>
     <div id="flash_notice">
       <%= flash[:error] %>
     </div>
  </div>
<% end %>


Credit kirpoints:<br>
<%= form_tag("/admin/credit", :method => "post") do %>
  Email  <%= text_field_tag(:email) %><br>
  Amount <%= text_field_tag(:amount) %><br>
  <%= submit_tag("Add Points") %>
<% end %>
