<div class="row tool pull-right">
     <div class="ditto" style="display:inline">
       <%=link_to image_tag("ditto.png"), "/userlisting/"+listing.id.to_s+"/ditto", :class => "ditto", "data-user" => current_user.id,  :remote => true %>
     </div>
     <div class="share" style="display:inline">
       <%=link_to image_tag("share.png"),  "/share/"+listing.id.to_s %>
     </div>

     <div class="btn-group" style="display:inline">
      <a class="btn dropdown-toggle" data-toggle="dropdown" onclick='$(this).dropdown()' href="#"><i class='icon-align-justify'></i> <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" style='margin-left:-100px;'>    

        <% if current_user && listing.user.id == current_user.id %>
        <li>
          <a href="/listing/<%= listing.id %>" >View Details
          </a>
        </li>
        <!-- Edit -->
        <li>
          <a href="/edit_listing?id=<%= listing.id %>&listing_type=need" class='dynamolink'>Edit

          </a>
        </li>
        <li>
          <%= link_to 'Remove', '/destroy_listing?id='+listing.id.to_s %>
        </li>
        <li>
          <a class="dynamolink" href="/share/<%= listing.id.to_s%>">Share

          </a>
        </li>
        <li>
          <a class="dynamolink" href="/listing/<%= listing.id.to_s%>/report">Report
          </a>
        </li>
        <% elsif current_user %>
        <li>
          <a href="/listing/<%= listing.id %>" >View Details
          </a>
        </li>
        <!-- Message-->
        <li>
          <a href="/sendmessage?id=<%= listing.user.id %>&replyTo=nil" class='dynamolink'>Message
          </a>
        </li>

        <!-- Initiate Exchange-->

        <li>
          <a href="/initiate_exchange?id=<%= listing.id.to_s%>">Start Exchange
          </a>
        </li>

        <li>
          <a class="dynamolink" href="/share/<%= listing.id.to_s%>">Share
          </a>
        </li>
        <li>
          <a class="dynamolink" href="/listing/<%= listing.id.to_s%>/report">Report
          </a>
        </li>
        <!-- dropdown menu links -->
        <% else %>
        <li>
          <a href="#signin" data-toggle="modal" >View Details
          </a>
        </li>
        <!-- Message-->
        <li>
          <a href="#signin" data-toggle="modal" >Message
          </a>
        </li>

        <!-- Initiate Exchange-->
        <li>
          <a href="#signin" data-toggle="modal" >Start Exchange  
          </a>
        </li>
        <li> 
          <a href="#signin" data-toggle="modal" >Spend Kirpoints
          </a>
        </li>
        <li>
          <a href="#signin" data-toggle="modal" >Share
          </a>
        </li>
        <li>
          <a href="#signin" data-toggle="modal" >Report
          </a>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
