<div id="needTemplate" class="rounded-need shadow fade-in">
    <a type="button" class="close" aria-hidden="true">×</a>
    <div class='listingImg'>
        <%= image_tag listing.photo.url %>
    </div>
    <div class='listingInfo'>
        <div>
            <span class="listingTitle"><%= listing.title %></span> <br>
            <span class="listingDesc"><%= listing.description %></span>

            <%= fields_for 'initiate_exchange[exchange_items_attributes][]', Time.now.to_i do |fa| %>
                <%=fa.hidden_field :user_listing_id, :value => listing.id %>
                <%=fa.hidden_field :targ_user_id, :value => targUser.id %>
            <% end %>
        </div>
    </div> 
</div>