<div class="rounded-offer"  >
  <span class="offer-span">OFFERED</span><br />
  <span class="offer-title span10"><%= listing.title %></span>
  
  <div id="need-actions" class="span9" >
    <%= render :partial => 'userlistings/listing_actions', :locals => {:listing => listing} %>
  </div> 
  
  <div id="offer-listing" class="span12">
    <div>
      <a href="/listing/<%= listing.id %>" >
        <% if !(listing.photo.url =~ /missing.png/) %>
        <%= image_tag(listing.photo.url, :style=>'width:95%;') %>
        <% else %>
        <div class='noListingImage'></div>
        <% end %>
      </a>
    </div>
  </div>
  <div class="span12">
    <p class="offer-desc"><%= listing.description %></p>
    <p>Category: <%= listing.category %></p>
  </div>
  <div class="span12">
    <strong><%= if listing.kirpoints == nil then 0 else listing.kirpoints end %> kirpoint(s) for this item</strong>
  </div>

  <div style= "display:none;">
    <%= image_tag('favorite.png') %> <!-- width="30" height="30" /><br /> -->
    <%= image_tag('kid.png') %> <!-- width="43" height="34" /> -->
  </div>
  <div class="row-fluid">
    <div class="span4 pull-left">
      <% if signed_in? && listing.user.id == current_user.id %>
      <%= link_to image_tag(listing.user.profile.photo.url, {:style=>'width:70px;', :class => 'img-polaroid'}), listing.user, {:id => 'userImage', 'rel' =>'popover' } %>
      <% else %>
      <a href='/view/<%= listing.user.id %>'><%= image_tag(listing.user.profile.photo.url, {:style=>'width:70px;', :class => 'img-polaroid'}) %></a>
      <% end %>
      <%#= image_tag('stars.png') %>
    </div>
    
    <div class='pull-left'>
      <%#= listing.user.name %>
    </div>

    <div style='font-weight:normal;'>
      <div class="span5 pull-left" style='margin-top:15px;font-size:12px;'>
        (<%= listing.user.numOfExchanges %>) Exchanges<br />
        (0) Reviews 
      </div>
      <div class="span3 pull-right" style='margin-top:15px;font-size:12px;'>
        (<%= listing.user.needs.count %>) need(s)
        <br />
        (<%= listing.user.offers.count %>) offer(s) 
      </div>
      <div>
        Posted <%= time_ago_in_words(listing.created_at) %> ago.
      </div>
    </div>
  </div> 
</div>
