<div class="rounded-need">
 <div class="row-fluid">
  <div id="need-listing" class="span3">
      <div>
        <%= image_tag(listing.photo.url, {:width => '200px', :height => '200px'}) %> <!-- width="103" height="103" /> -->
      </div>
    </div>
  </div>
   <div class="row-fluid">
      <span class="need-span">NEEDED</span> 
      <span><%= listing.title %></span>
  </div>
  <div class="row-fluid">
    <p><%= listing.description %></p>
  </div>
  <div style= "display:none;">
    <%= image_tag('favorite.png') %> <!-- width="30" height="30" /><br /> -->
    <%= image_tag('kid.png') %> <!-- width="43" height="34" /> -->
  </div>
  <div class="row-fluid">
    <div class="span3">
      <%= link_to image_tag(@user_photo, {:width => '100px', :height => '100px'}), listing.user, {:id => 'userImage', 'rel' =>'popover' } %>
      <%= image_tag('stars.png') %>
    </div>
    <div id="need-actions" class="span6">
      <div class="row-fluid tool">

        <!-- Message-->
        <div class="span3">
          <a href="/sendmessage/<%= listing.user.id %>&nil" class='dynamolink'>
          <%= image_tag('message.png', :class=>"message", :title=>"message") %> 
          </a>
        </div>
        <!-- Initiate Exchange-->
        <div class="span3 tTip" title="Exchange">
          <% if signed_in? %>
            <a class="dynamolink" href="/initiate_exchange/<%= @user.id.to_s %>&<%= listing.id.to_s%>">    
              <%= image_tag('exchange.png') %>
            </a>
          
          <%else%>
          <%= image_tag('exchange.png', {:title=>"exchange"}) %>
          <%end%> 
        </div>
        <div class="span3">
          <a class="dynamolink" href="/quicksale/<%= listing.id.to_s%>">  
            <%= image_tag('price.png') %>
          </a>
        </div>
        <div class="span3">
          <a class="dynamolink" href="/share/<%= listing.id.to_s%>">  
            <%= image_tag('share.png') %>
          </a>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span6" id="need-name">
          <%= listing.user.name %> <br />
          <%= Exchange.where("id != ?",listing.user.id).all.count %> Exchanges<br />
          Reviews (0)
        </div>
        <div class="span6">
          (<%= listing.user.needs.count %>) need
          <br />
          (<%= listing.user.needs.count %>) need 
        </div>
      </div>
    </div>
    
  </div>
</div>
