<div id="offerTemplate"class="rounded-offer shadow fade-in">
    <a type="button" class="close" aria-hidden="true">×</a>
    <div style="">
        <%= image_tag listing.photo.url %>
    </div>
    <div style="">
        <span>
            <div>
            <span class="listingTitle"><%= listing.title %></span> <br>
            <span class="listingDesc"><%= listing.description %></span>
            <%= fields_for 'initiate_exchange[exchange_items_attributes][]', Time.now.to_i  do |fa| %>
                <%=fa.hidden_field :user_listing_id, :value => listing.id %>
                <%=fa.hidden_field :targ_user_id, :value => targUser.id %>
                <%=fa.hidden_field :init_user_id, :value => initUser.id %>
            <% end %>
        </div>
        </span>
    </div> 
</div>
