<div class="rounded-need shadow">
    <a type="button" class="close" aria-hidden="true">×</a>
    <div style="">
        <%= image_tag listing.photo.url %>
    </div>
    <div style="">
        <span>
            <%= listing.title %> <br>
            <%= listing.description %>
            <%= form.fields_for :exchange_item, ExchangeItem.new, :child_index => 'replace_this' do |f| %>
                <%=fa.hidden_field :user_listing_id, :value => listing.id %>
                <%=fa.hidden_field :targ_user_id, :value => targ.id %>
            <% end %>
        </span>
    </div> 
</div>