  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Edit Need</h3>
  </div>
  <%= form_for @listing, :url => '/userlisting/' + @listing.id.to_s(), :method => 'put', :html => { :multipart => true } do |f| %>
  <div class="modal-body">
	  <div class='span3 pull-left'>
		  <div class="field">
		    <%= f.label :title %>
		    <%= f.text_field :title %>
		  </div>
		  <div class="field">
		    <%= f.label :description %>
		    <%= f.text_area :description, {:rows => '5'}  %>
		  </div>
          </div>
          <div class='span2 pull-left'>
		  <div class="field">
		    <%= f.label :quantity %>
		    <%= f.text_field :quantity %>
		  </div>
		  <div class="field">
		    <%= f.label :quantityUnit %>
		    <%= f.text_field :quantityUnit %>
		  </div>
		  <div class="field">
		    <%= f.label :photo %>
		    <%= f.file_field :photo %>
		  </div>
          </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <%= f.submit 'Save', :class => 'btn btn-primary' %>
  </div>
  <% end %> <!-- end of form -->
