<div>
	<div class='tabbable'>
		<ul class='nav nav-tabs'>
			<li class='active'>
				<%= link_to 'Current Exchanges', '#current_exchanges', {'data-toggle' => 'tab', :title => 'current_exchanges'} %>
			</li>
			<li>
				<%= link_to 'Past Exchanges', '#past_exchanges', {'data-toggle' => 'tab', :title => 'past_exchanges'}  %>
			</li>
		</ul>
		<div class='tab-content'>
			<div id='current_exchanges' class="tab-pane active">

				<% if current_user %>
                <% @exch = Exchange.where("type != ? AND initUser = ? OR targUser = ? ", 'ArchivedExchange', current_user.id, current_user.id).all  %> 
                <% else %>
                <% @exch = Exchange.where("type != ? AND initUser = ? OR targUser = ? ", 'ArchivedExchange', @user.id, @user.id).all %>
                <% end %>
				
				<% for exchange in @exch %>
				
				<% next if exchange.type == 'ArchivedExchange' || exchange.is_deleted == "0" %>
				<div class="linkable" data-url="/exchanges/<%= exchange.id %>" >
					<div class='row-fluid'>
						<a href="/destroy_exchange?id=<%= exchange.id %>" type="button" class="close" aria-hidden="true">×</a>
						<div class="span3">
							<% if (exchange.initUser).to_s == (current_user.id).to_s %>
								<a href="/view/<%= exchange.targUser %>">
									<div>
		        						<%= image_tag User.find(exchange.targUser).profile.photo.url, {:width => "70px", :height => '70px'} %> 
		        					</div> 
		            				<div >
		            					<%= User.find(exchange.targUser).name %>
		            				</div>
		            			</a>
							<%else%>
								<a href="/view/<%= exchange.initUser %>">
									<div>
		        						<%= image_tag User.find(exchange.initUser).profile.photo.url, {:width => "70px", :height => '70px'} %> 
		        					</div> 
		            				<div>
		            					<%= User.find(exchange.initUser).name %>
			            			</div>
			            		</a>
							<%end%>
		           		</div>
						<div class='span2 offset5 c_exchange'>
							<% if exchange.type == 'InitiateExchange' %>
								<%= image_tag('InitExchIco.png', {:width => '70px', :height => '70px'}) %>
							<% elsif exchange.type == 'PerformExchange' %>
								<%= image_tag('PerfExchIco.png', {:width => '70px', :height => '70px'}) %>
							<% elsif exchange.type == 'RateExchange' %>
								<%= image_tag('RRExchIco.png', {:width => '70px', :height => '70px'}) %>
							<% else %>
								DAFAQ
							<%end%>
						</div>
						<div class='span4'>
							<span>
								Exchange
							</span>
						</div>
					</div>
				</div>
				<%end%>
			</div>
			<div id='past_exchanges' class="tab-pane">
				
				<% for exchange in pastExch %>
				<div class='row-fluid p_exchange'>
					<div class='span4'>
						<% if (exchange.initUser).to_s == (current_user.id).to_s %>
							<div>
			        			<%= image_tag User.find(exchange.targUser).profile.photo.url, {:width => "70px", :height => '70px'} %> 
			        		</div> 
			            	<div >
			            		<%= User.find(exchange.targUser).name %>
			            	</div>
						<%else%>
							<div>
			        			<%= image_tag User.find(exchange.initUser).profile.photo.url, {:width => "70px", :height => '70px'} %> 
			        		</div>
			            	<div>
			            		<%= User.find(exchange.initUser).name %>
			            	</div>
						<%end%>
		            </div>
		            <div class='span4'>
		            	<%= image_tag('PastExchIco.png', {:width => '70px', :height => '70px'}) %>
		        	</div>
					<div class='span4'>
						Exchange
					</div>
				</div>
				<%end%>	
			</div>		
		</div>
	</div>
</div>
