
<!-- Top row -->
<div class='row-fluid' style='margin-bottom: 20px;'>

	<!-- display gender -->
    <div class='span3 pull-left' style='font-weight:normal;' >
	    <strong>Gender:</strong>
	    <!-- <hr style='margin: 10px  0 !important;' /> -->
	     <%= best_in_place user.profile, :gender %>
    </div>

	<!-- display zipcode -->
    <div class='span3 pull-right' style='font-weight:normal;'>
	    <strong>Zipcode:</strong>
	    <!-- <hr style='margin: 10px 0 !important;' /> -->
	    <%= best_in_place user.profile, :zipcode %>
  	</div>

  	<!-- display location -->
    <div class='span3 pull-right' style='font-weight:normal;'>
	    <strong>Location:</strong>
	    <!-- <hr style='margin: 10px 0 !important;' /> -->
	    <%= best_in_place user.profile, :location %>
  	</div>

  	<!-- display birthday -->
    <div class='span3 pull-right' style='font-weight:normal;'>
	    <strong>Birth Date:</strong>
	    <!-- <hr style='margin: 10px 0 !important;' /> -->
	    <%= best_in_place user.profile, :birthdate %>
  	</div>

</div>

<!-- Middle row -->
<div class='row-fluid' style='margin-bottom: 20px;'>

  	<div class='span6 pull-right' style='font-weight:normal;'>
	    <strong>Languages:</strong>
	    <!-- <hr style='margin: 10px 0 !important;' /> -->
	    <%= best_in_place user.profile, :languages %>
  	</div>

    <div class='span6 pull-right' style='font-weight:normal;'>
      <strong>Education:</strong>
      <!-- <hr style='margin: 10px 0 !important;' /> -->
      <%= best_in_place user.profile, :education %>
    </div>

</div>

<!-- Bottom -->
<div class='row-fluid' style='margin-bottom: 20px;'>
	
	<!-- display needs/offers -->
    <div class='span3 pull-left' style='font-weight:normal;' >
	    <strong><%= @user.needs.count %> Needs / <%= @user.offers.count %> Offers</strong>
    </div>

    <!-- display number verified -->
    <div class='span3 pull-right' style='font-weight:normal;'>
	    <strong><%= if @profile.number_verified then "Number Verified" end %></strong>
  	</div>

  	<!-- display reviews -->
    <div class='span3 pull-right' style='font-weight:normal;'>
    	<!-- still needs link -->
	    <strong>Reviews:</strong>
  	</div>
  
  	<!-- display completed exhanges -->
    <div class='span3 pull-right' style='font-weight:normal;'>
    	<!-- still needs link -->
	    <strong>Completed Exchanges:</strong>
  	</div>

</div>

<hr />
 
