<div class='row-fluid' style='padding-top: 10px;padding-bottom:20px;' > 
        <% if is_current_user(user) %>
		<em onmouseover="$('#quickPitchEdit').show()" onmouseout="$('#quickPitchEdit').hide()"><%= best_in_place user.profile, :quickPitch%> <i id='quickPitchEdit' style='display:none;' class='icon-edit'></i></em>
	<% else %>
		<em><%= user.profile.quickPitch %></em>
	<% end %>
       
</div>
<div class='row-fluid' style='margin-bottom: 20px;'>
    <div class='span7 pull-left' style='font-weight:normal;' >
      <strong>About</strong><br>
     <!-- <hr style='margin: 10px  0 !important;' /> -->
      <%= best_in_place user.profile, :about %>
    </div>
    <div class='span4 pull-right' style='font-weight:normal;'>
     <strong>Education</strong><br>
     <!-- <hr style='margin: 10px 0 !important;' /> -->
     <%= best_in_place user.profile, :education %>
   </div>
</div>
<hr />
<div class='row-fluid'> 
	
	<!-- UserListings-->

	<!-- NEEDS-->
	<div class='span6'>
		<div><span id='needLabel'>NEEDS - <%= user.needs.count %></span> 
				<% if is_current_user(user) %>
					<%= link_to 'Add Need', 
					new_userlisting_path(:type => "need"), 
					{:class => 'dynamolink btn', 'role' => "button", 'data-toggle' => "modal" }%>
				<% end %>
			</div>
			<% for need in user.needs %>
				<% next if need.is_deleted %>
				<%= render :partial => 'userlistings/show_need', :locals => {:listing => need } %>
			<% end %>

	</div> 
	    
	<!-- OFFERS-->
	<div class='span6'>
		<div><span id='offersLabel'>OFFERS - <%= user.offers.count %></span>
			<% if is_current_user(user) %>
				<%= link_to 'Add Offer', new_userlisting_path(:type => "offer"), {:class => 'dynamolink btn', 'role' => "button", 'data-toggle' => "modal" }%>
			<% end %>
		</div>
		<% for offer in user.offers %>
			<% next if offer.is_deleted %>
			<%= render :partial => 'userlistings/show_offer', :locals => {:listing => offer } %>
		<%end%>
	</div>
</div> 
