<%= render 'shared/header' %>

<h3>Please Confirm Your Payment Details</h3>

<table>
  <tr><td>Order Total</td><td><%= @total %></td>
  <tr><td>Name</td><td><%= @address['name'] %></td></tr>
  <tr><td>Company</td><td><%= @address['company'] %></td></tr>
  <tr><td>Address 1</td><td><%= @address['address1'] %></td></tr>
  <tr><td>Address 2</td><td><%= @address['address2'] %></td></tr>
  <tr><td>City</td><td><%= @address['city'] %></td></tr>
  <tr><td>State</td><td><%= @address['state'] %></td></tr>
  <tr><td>Country</td><td><%= @address['country'] %></td></tr>
  <tr><td>Zip</td><td><%= @address['zip'] %></td></tr>
</table>
<br><br>

<%= form_tag("/kirpoints/complete", :method => "get") do %>
  <%= hidden_field_tag(:token, @token) %>
  <%= hidden_field_tag(:payer_id, @payer_id) %>
  <%= hidden_field_tag(:total, @total) %>
  <%= submit_tag("Complete Payment") %>
<% end %>


