

<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
<title>Kirpeep | <%= @title %></title>
<%= javascript_tag do %>
  window.userID = <%= current_user.id %>
<% end %>
<%#= render 'needs/show' %>

<%= javascript_include_tag "profile.js" %>

<%= stylesheet_link_tag    "profile.css" %>
</head>

<body>

<div class='container'>
  
  <%= render 'shared/header' %>

  <div><hr/></div>

  <div id='main-content' class='row'>
  
    <% if flash[:notice] != nil %>
    <div class="alert" style="width: 40%;margin-left:auto;margin-right:auto;">
       <button type="button" class="close" data-dismiss="alert">×</button>
       <div id="flash_notice">
         <%= flash[:notice] %>
       </div>
    </div>
    <% elsif flash[:error] != nil %>
    <div class="alert alert-error" style="width: 40%;margin-left:auto;margin-right:auto;">
       <button type="button" class="close" data-dismiss="alert">×</button>
       <div id="flash_notice">
         <%= flash[:error] %>
       </div>
    </div>
    <% end %>
      <% @profile = @user.profile %>
      
    	<div class='span4'>
        <%= image_tag @user.profile.photo.url, {:width => '200px', :height => '200px', :class =>'img-polaroid'} %>
        <br><br>
      	<ul class='profileInfo'>
          <li onmouseover="$('#locationEdit').show()" onmouseout="$('#locationEdit').hide()" ><strong>Location:</strong> <%= best_in_place @profile, :location %> <i id='locationEdit' style='display:none;' class='icon-edit'></i></li>
            <li onmouseover="$('#zipcodeEdit').show()" onmouseout="$('#zipcodeEdit').hide()"><strong>Zipcode:</strong> <%= best_in_place @profile, :zipcode %> <i id='zipcodeEdit' style='display:none;' class='icon-edit'></i></li>
            <li onmouseover="$('#languageEdit').show()" onmouseout="$('#languageEdit').hide()"><strong>Languages:</strong> <%= best_in_place @profile, :languages %> <i id='languageEdit' style='display:none;' class='icon-edit'></i></li>
            <li onmouseover="$('#birthdateEdit').show()" onmouseout="$('#birthdateEdit').hide()"><strong>Birth Date:</strong> <%= best_in_place @profile, :birthdate %> <i id='birthdateEdit' style='display:none;' class='icon-edit'></i></li>
            <li onmouseover="$('#genderEdit').show()" onmouseout="$('#genderEdit').hide()"><strong>Gender:</strong> <%= best_in_place @profile, :gender %> <i id='genderEdit' style='display:none;' class='icon-edit'></i></li>
            <li ><strong><%= @user.needs.count %> Needs / <%= @user.offers.count %> Offers</strong> </li>
            <li><strong>Completed Exchanges</strong> </li>
            <li><strong>1 Review (stars)<strong></li>
            <li><strong><%= if @profile.number_verified then "Number Verified" end %></strong></li>
      	</ul>
      </div>
      
      <div class='span8'>
        <div id='profile-header'>
        	<h2 class='profile-username'>
            <%= @user.name %>
          </h2>
          <div class='tabbable'>
            <ul class='nav nav-tabs'>
              <li class='active'>
                <%= link_to 'Profile', '#profile' , {:id => 'profile_link', 'data-toggle' => 'tab'} %>
              </li>
              <li>
                <%= link_to 'Exchanges', '#exchanges' , {:id => 'exch_link', 'data-toggle' => 'tab'} %></li>
              <li>
                <%= link_to 'Messages', '#messages' , {:id => 'message_link', 'data-toggle' => 'tab'} %>
              </li>
            </ul>
    	    
            <div class="tab-content">
              <div id='profile' class="tab-pane active">
                <%= render :partial => 'profile', :locals => {:user => @user} %>
              </div>
              <div id='exchanges' class="tab-pane">
                <div id="exchContainer" data-url="/user_exchanges/<%=current_user.id%>"></div>
              </div>
              <div id='messages' class="tab-pane"></div>
            </div> <!-- /.tab-content -->
          </div><!-- /.tabbable -->
        </div><!-- /#profile-header -->
      </div> <!-- /.span8-->
    </div><!-- #main-content .row -->

      

    <%= render 'shared/footer' %>

  <!-- Dynamobox Modal -->
  <div class="modal fade hide" id="dynamobox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
  
</body>
  
