<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
<title>Kirpeep | <%= @title %></title>
<%= stylesheet_link_tag    "profile.css" %>
<script type='text/javascript'>
$(document).ready(function(){
  $('#loc').mouseover(function(){
    $('#loc').css('background-color','green');
    $('#edit').css('display', 'inline');
  });

  $('#loc').mouseout(function(){
    $('#loc').css('background-color','transparent');
    $('#edit').css('display', 'none');
  });
    
  $('#edit').click(function(){
  //enter edit information here	
  });
  
  $('#exchContainer').insertERBTemplateAjax("over");
});
</script>

</head>

<body>

  <div class='container'>
    <%= render 'shared/header' %>

    <div><hr/></div>

    <div id='main-contant' class='row'>
      <% if flash[:notice] != nil %>
    <div class="alert" style="width: 40%;margin-left:auto;margin-right:auto;">
       <button type="button" class="close" data-dismiss="alert">×</button>
       <div id="flash_notice">
         <%= flash[:notice] %>
       </div>
    </div>
    <% elsif flash[:error] != nil %>
    <div class="alert alert-error" style="width: 40%;margin-left:auto;margin-right:auto;">
       <button type="button" class="close" data-dismiss="alert">×</button>
       <div id="flash_notice">
         <%= flash[:error] %>
       </div>
    </div>
    <% end %>
      <% @profile = @user.profile %>
            
    	<div class='span4'>
        <%= image_tag @user.profile.photo.url, {:width => '200px', :height => '200px', :class =>'img-polaroid'} %>
        <br><br>
        <a href="/sendmessage?id=<%= @user.id %>&replyTo=nil" class='btn span2 dynamolink' style='margin-left: 20px;' >Send Message</a><br>
	  <%if @user.chat_status == "available" %>
	  <script type="text/javascript">
	    function create_chat(url){
	      var pop = window.open("","chat",'height=300,width=200,left=10,top=10,resizable=no,scrollbars=yes,toolbar=no,menubar=no,location=no,directories=no,status=no');
	      var html = "<html><body><form id='chat' method='post' action='"+url+"' target='chat'></form>";
	      pop.document.write(html);
              pop.document.getElementById('chat').submit();
	      return pop;
	    }
	  </script>
            <%= link_to "#", :onclick => "Javascript:create_chat('/chat?targ_id="+@user.id.to_s+"')", :class => "btn", :target => "_top", :method => "post" do %>
	      <span style="color: #0F0;">&bull;</span> Available
	    <%end%>
	  <%elsif @user.chat_status == "away" %>
            <a class="btn " href="#"><span style="color: #FA0;">&bull;</span> Away</a>
	  <%else%>
            <a class="btn " href="#"><span style="color: #F00;">&bull;</span> Busy</a>
	  <%end%>

	        <br><br>
      	<ul class='profileInfo'>
            <li><strong>Groups:</strong> <%= best_in_place @profile, :group %></li>
            <li><strong>Sectors:</strong> <%= best_in_place @profile, :sector %></li>
            <li><strong>Location:</strong> <%= best_in_place @profile, :location %></li>
            <li><strong>Zipcode:</strong> <%= best_in_place @profile, :zipcode %></li>
            <li><strong>Languages:</strong> <%= best_in_place @profile, :languages %></li>
            <li><strong><%= @user.needs.count %> Needs / <%= @user.offers.count %> Offers</strong> </li>
            <%# Commenting out 'Completed Exchanges' and 'Review' until functional %>
            <%# <li><strong>Completed Exchanges</strong> </li> %>
            <%# <li><strong>Review (stars)<strong></li> %>
      	</ul>
  <%# Commenting out 'Reviews' until functional with if false%>    
	<% if false %>
  <h1>Reviews</h1>
        <% if  controller.review_list(@user).nil?%>
          <span>No Reviews</span>
        <% else %>
          <% for review in controller.review_list(@user) %>
            <div>
              <span>Reviewed by: </span> bob<%= %>
              <span>review.review</span>
            </div>
          <% end %>
        <% end %>
  <% end %>

      </div>
        
        <div class='span8'>
          <div id='profile-header'>
          	<h2 class='profile-username'>
              <%= @user.name %>
            </h2>
            <div class='tabbable'>
              <ul class='nav nav-tabs'>
                <li class='active'>
                  <%= link_to 'Profile', '#profile' , {:id => 'profile_link', 'data-toggle' => 'tab'} %>
                </li>
                
              </ul>
      	    
              <div class="tab-content" >
                <div id='profile' class="tab-pane active">
                  <%= render :partial => 'profile', :locals => {:user => @user} %>
                </div>
               
              </div> <!-- /.tab-content -->
            </div><!-- /.tabbable -->
          </div><!-- /#profile-header -->
        </div> <!-- /.span8-->
      </div><!-- .row-fluid-->
<div class='row-fluid'> 
  
  <!-- UserListings-->

  <!-- NEEDS-->
  <div class='span6'>
    <div><span id='needLabel'>NEEDS - <%= @user.needs.count %></span> 
        <% if is_current_user(@user) %>
          <%= link_to 'Add Need', 
          new_userlisting_path(:type => "need"), 
          {:class => 'dynamolink btn', 'role' => "button", 'data-toggle' => "modal" }%>
        <% end %>
      </div>
      <% for need in @user.needs %>
        <div class="span6">
        <% next if need.is_deleted %>
        <%= render :partial => 'userlistings/show_need', :locals => {:listing => need } %>
        </div>
      <% end %>

  </div> 
      
  <!-- OFFERS-->
  <div class='span6'>
    <div><span id='offersLabel'>OFFERS - <%= @user.offers.count %></span>
      <% if is_current_user(@user) %>
        <%= link_to 'Add Offer', new_userlisting_path(:type => "offer"), {:class => 'dynamolink btn', 'role' => "button", 'data-toggle' => "modal" }%>
      <% end %>
    </div>
    <% for offer in @user.offers %>
    <div class="span6">
      <% next if offer.is_deleted %>
      <%= render :partial => 'userlistings/show_offer', :locals => {:listing => offer } %>
    </div>
    <%end%>
  </div>
</div>
      
    <%= render 'shared/footer' %>
  </div>

</body>
