<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
<title>Kirpeep | <%= @title %></title>
<%#= render 'needs/show' %>


<%= stylesheet_link_tag    "profile.css" %>
</head>

<body>

<div class='container'>
  
  <%= render 'shared/header' %>

   <div><hr/></div>

  <div id='main-content' class='row'>
<p>
<h2>How It Works</h2>
</p>
<p>
We believe everyone has a valuable skill, service, or product to offer. We also know that everyone has
needs. Hence, our tool is based on offers and needs, expressed through listings and completed
through exchanges. You can barter or use Kirpoints to complete an exchange.
</p>
<!--<p>
<strong>Kirpoints</strong>
<p>What are Kirpoints?</p>
<p class='offset1'>
Kirpoints are Kirpeep’s virtual currency. They are for users to buy and sell listings on Kirpeep,
they help maintain and improve the site, and are a safe way for users to make cash transactions.
</p>
<p>
How can I use Kirpoints?
</p>
<p class='offset1'>
Just like you would cash. If you feel something is worth $20 on Kirpeep, offer or ask for 20
Kirpoints.
</p>
<p>
How do I purchase Kirpoints?
</p>
<p class='offset1'>
Once you log in, select “Buy Kirpoints” in the dropdown menu under where your name is. From
there, just enter how many you want with your billing info, and we’ll update your Kirpoints(kps)
count. Simple as that!
</p>
<%= image_tag("KirpointsScreenshot.png", :style=>'width:600px;margin-left:130px; ') %>
<p>
How much do Kirpoints cost?
</p>
<p class='offset1'>
Each Kirpoint is equal to one dollar. Therefore, if you want to have 30 Kirpoints, that would be a
total of $30.
</p>
<p class='offset1'>
Is there a minimum amount of Kirpoints I need to purchase or have to convert them back to dollars?
- Due to transaction and maintenance fees, the minimum amount of Kirpoints you can buy is
25. Once you have accumulated at least 50 Kirpoints, you can convert them back to dollars at
anytime.
</p>-->
<p>
<strong>Listings</strong>
</p>
<p>
1. create a listing to let people know what you need and what you have to offer
</p>
<p class='offset1'>
- add pictures of your need/offer
<br>
- add descriptions and let people know what you’d like in return
<br>
- be specific!
</p>
<p>
2. listings allow users to find you through searching and browsing
</p>
<p class='offset1'>
*you must be signed up to add a listing -- people have to know you’re a real person!
</p>
<p>
<strong>Exchanges</strong>
</p>
<p>
1. initiate an exchange with another user
</p>
<p class='offset1'>
- if you find something you want, go ahead and try to get it!
<br />
- if you find something you can give, go ahead and give it!
</p>
<p>
2. if the other user accepts, you may negotiate terms
</p>
<p>
- what’s being exchanged for what

- the time frame
</p>
<p>
3. you and the other user complete the exchange
</p>
<p class='offset1'>
- you get what you want and they get what they want
<br>
- you rate the experience you had to build and maintain reputation
</p>
<p>
*another user may also initiate an exchange with you. in this case, you will receive a

notification that someone is trying to start an exchange with you. you can accept, or deny if you don’t

want to exchange with that user.
</p>
<p>
   </div>
   <%= render 'shared/footer' %>

  <!-- Dynamobox Modal -->
  <div class="modal fade hide" id="dynamobox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
  
</body>
