<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link href="../../assets/stylesheets/index.css" rel="stylesheet" type="text/css" />
</head>
<%= link_to 'Sign Out' , "/signout" %>
<body>
<script src="../../assets/javascripts/jquery.min.js"></script>
<script src="../../assets/javascripts/fade.js"></script>
<div class='pull-left'>
   About | How It Works | FAQs
</div>
<p class="center"><%= image_tag('kirpeep.png') %></p>
<br /><br />
<div id="search">
  <%= form_for(:session, :url => sessions_path) do |f| %>

  <table width="200" border="0">
    <tr>
      <td><p>connect with others to</p></td>
      <td rowspan="2"><%= link_to image_tag("searchnow.png"), {:controller => 'foo', :action => "bar" } %></td>
    </tr>
    <tr>
      <td><%= f.text_field :search %></td>
    </tr>
  </table>

<%end%>

<table width="200" border="0" summary="Search Box">
<tr>
        <td> <%= image_tag("advser.png") %></td>
        <td><img src="<%= asset_path 'browse.png' %>" width="54" height="22" alt="Browse" /></td>
        <td><img src="<%= asset_path 'add.png' %>" width="75" height="22" alt="Add" /></td>
      </tr>
  </table>
</div>
</br><br />

<div id="signup">
  <span id="signup" >Get Started by introducing yourself.</span>
  <%= form_tag("/search", :method =>"get") do %>
  <%= text_field_tag :email %>
  <%= text_field_tag :password %>
  <%= submit_tag "Sign Up" %>
  <%end%>
</div>

<br />
<br />
<br />
<p class="center">Contact | <a href='/tos'>Terms of Use</a> | Privacy<br />
2012-2013 Kirpeep, Inc.</p>
</div>

<!--The overlay and message box-->  
  <div id="fuzz">  
    <div class="msgbox">  
       <a class="close" href="#" >close</a> 
	   <!-- V Enter Create user here V-->
	   <%= form_tag("/search", :method =>"get") do %>
	   		

		<div class="field">
			NAME<br />
			<%= text_field_tag :name %>
		</div>
		<div class="field">
			EMAIL<br />
			<%= text_field_tag :email %>
		</div>
		<div class="field">
			Password<br />
			<%= text_field_tag :password %>
		</div>
		<div class="field">
			Confirm Password<br />
			<%= text_field_tag :password_confirmation %>
		</div>
		<div class="actions">
			<%= submit_tag "Sign Up" %>
		</div>
		<% end %>
  	</div>  
  </div> 
  
 <div id="content">  
       <a class="alert" href="#" >Alert Me!</a>  
 </div>  

</body>
