<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%= stylesheet_link_tag    "bootstrap.css" %>
<%= javascript_include_tag "application" %>

<!--For responsive bootstrap-->
<%= stylesheet_link_tag    "bootstrap-responsive.css" %>



<%= yield %>

  <!-- Sign in Modal -->
  <%= render 'shared/signin' %>

  <!-- Dynamobox Modal -->
  <div class="modal fade hide" id="dynamobox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
  <% if current_user != nil %>
    <%= subscribe_to "/notify/"+current_user.id.to_s %>
  <%end%>
  <%= yield :scripts %>

</html>


