<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%= stylesheet_link_tag    "bootstrap.css" %>
<style>
/*Nofication pop up*/
.notify{
  background-color:#eee;
  color: #777;
  border:5px solid #FF931E;
  border-radius:20px;
  overflow:hidden;
  display:block; 
  position:fixed;
  bottom:0;
  left:0; 
  float:left;
  margin: 20px 20px 50px 50px;
  width: 100px; 
  font-weight: bold ; 
  text-align:center;
}
</style>
<%= javascript_include_tag "application" %>

<!--For responsive bootstrap-->
<%= stylesheet_link_tag    "bootstrap-responsive.css" %>



<%= yield %>

  <!-- Sign in Modal -->
  <%= render 'shared/signin' %>

  <!-- Dynamobox Modal -->
  <div class="modal fade hide" id="dynamobox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
  <% if current_user != nil %>
    <%= subscribe_to "/notify/"+current_user.id.to_s %>
  <%end%>
  <%= yield :scripts %>

</html>


